/* Reseting the css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1d1d1;
}




/* Styling the PAGE CONTAINER */

#page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    width: 55rem;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    background-color: rgb(243, 243, 243);
}

.header-image{
    margin-top: 1rem;
}




/* Styling the food options containers */

.main-course-options-container, .options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1.3rem;
}


.main-course, .portions{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    padding: 1rem;
    margin: 1rem;
}


/* Food Card */
.food-options-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

/* Image Container */
.image-container{
    width: 11rem;
    height: 18rem;
    overflow: hidden;
}

.image-container > img {  
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.food-name {
    font-weight: bold;
}

/* Client INFO */
.client-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 42.55rem;
    gap: 1rem;

    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    width: 30rem;
    padding: 0.9rem;
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
    width: 42.7rem;
    height: 2.5rem;
    margin: 1rem;
    font-size: 1.2rem;


    background-color: #0059ff;
    color: white;

    border-radius: 5px;
    border-style: none;
    
    cursor: pointer;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}